.vs/

packages/

RecommendationSystem/bin
RecommendationSystem/obj

RecommendationSystem.BL/bin
RecommendationSystem.BL/obj

RecommendationSystem.BL.Test/bin
RecommendationSystem.BL.Test/obj

RecommendationSystem.Data/bin
RecommendationSystem.Data/obj

RecommendationSystem.Data.Test/bin
RecommendationSystem.Data.Test/obj